/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://i.pcmag.com/imagery/articles/03W5rddPYdbOO9ZACUPLQb7-10.fit_lim.v1628607482.jpg);
    background-size: cover;
    font-size: x-large;
    font-family: Impact;
}