form {
    font-size: x-large;
    text-decoration: 1px solid gray;
    font-weight: bold;
    letter-spacing: 2px;
    width: 600px;
}

form label{
    background-color:rgba(30, 100, 130, 0.6);
    padding: 0 10px;
}

h1{
    background-color: rgba(30, 100, 130, 0.9)
}